*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.box-todo{
    width: 50%;
    height: 400px;
    background-color: #8cddf6;
    margin-left: 20%;
    margin-top: 10%;
    position: relative;
    overflow-y: scroll;
}
.add_todo{
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    color: #01010a;
    width: 60px;
    height: 60px;
    top: -2%;
    left:1%;
    border-radius: 50%;
    z-index: 1000;

}
.menue-todo{
    width: 100%;
    height: 50px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    font-family:"B Elham";
    background-color: saddlebrown;

}
.todo{
    height: 40px;
    font-size: 25px;
    font-family: Arial;
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: 1px solid #195ad2;
    position: relative;

}
.circle{
    display: inline;
    width: 10px;
    height: 10px;
    border-radius: 80px;
    border: 2px solid #c511ec;
 position: absolute;
    top:10px;
    right: 0px;
}

.del{
    display: inline-block;
    position: absolute;
    top:15px;
    left: 0px;
    font-size: 19px;
    background-color: #c511ec;

}
.todo-text{
    margin-right: 20px;
}